@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
}

.header-info a, .header-info p {
    font-size: 18px;
    color: #e5e7eb;
}

.containers {
    display: flex;
    flex-direction: column;
}

.logo {
    width: 50px;
}

.header-info, .footer {
    background-color: #1f2937;
}

.header-info {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 350px;
    color: white;
}

.header-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.hero {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-img {
    width: 500px;
}

.footer {
    height: 100px;
}

.info, .cta {
    height: 200px;
}

.quote {
    background-color: #e5e7eb;
    height: 200px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    gap: 14px;
}

.sign-button {
    background-color: #3882f6;
    padding: 4px 26px;
    font-size: 18px;
    border-radius: 8px;
    color: #e5e7eb;
    border: none;
}