@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

body {
    margin: 0;
}

.header-info a, .header-info p {
    font-size: 18px;
    color: #e5e7eb;
}

.containers {
    display: flex;
    flex-direction: column;
}

.logo {
    width: 50px;
}

.header-info, .footer {
    background-color: #1f2937;
}

.header-info {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px 350px;
    color: white;
}

.header-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.hero {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-img {
    width: 500px;
}

.footer {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #e5e7eb;
    align-items: center;
}

.info {
    height: 550px;
    padding: 16px 350px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote {
    background-color: #e5e7eb;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-info {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quoter {
    display: flex;
    justify-content: flex-end;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.quote-cont {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    gap: 20px;
}

.sign-button {
    background-color: #3882f6;
    padding: 4px 26px;
    font-size: 18px;
    border-radius: 8px;
    color: #e5e7eb;
    border: none;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin-bottom: 130px;
    margin-top: 40px;
}

.wrap-cont {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.info-text img {
    width: 150px;
    border: 3px solid #3882f6;
    border-radius: 5px;
}

.info-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    color: #e5e7eb;
}

.call-box {
    background-color: #3882f6;
    height: 150px;
    width: 1200px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.call-cont {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.call-button {
    background-color: #3882f6;
    color: #e5e7eb;
    border: 2px solid #e5e7eb;
    border-radius: 8px;
    padding: 8px 40px;
}